body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
p {
    margin: auto;
}
.border {
    border: 1px solid black;
}
.header {
    display: flex;
    flex-direction: column;
}
.header .title {
    display: flex;
    height: 50px;
}
.header .usage {
    display: flex;
    height: 100px;
}
.header .top_panel {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
}
.top_panel>div {
    display: flex;
}
.header .top_panel .reserve {
    display: flex;
    flex-direction: row;
}
.month {
    display: flex;
}
.header .top_panel .user_bar {
    width: 15%;
    display: flex;
    flex-direction: row;
}
.header .error_panel {
    background: red;
}
.footer {
    height: 50px;
    display: flex;
}
.node {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    font-size: 90%;
}
.main .node:hover {
    background: #cccccc;
}
.node>div {
    display:flex;
    margin: 5px 2px 5px 2px;
}
.label {
    border-radius: 2px;
    background: blue;
    color: white;
}
.status {
    display:flex;
    flex-direction: row;
    width: 15%;
}
.reserve {
    display: flex;
    flex-direction: row;
    width: 25%;
}
.reserve>div {
}
.reserve .day {
    display: flex;
    align-items: center;
    width: 10%;
    border: 1px solid red;
    margin: 2px;
}
.reserve .booked {
    background-color: red;
    color: white;
}
.reserve .edit:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.name {
    width: 10%;
}
.hardware {
    width: 10%;
}
.boards {
    width: 20%;
}
.description {
    width: 20%;
}
